<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style nonce="abc123">
        /* Style pour gérer les textes trop longs avec des ellipses */
        .card-text, .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card-img-top {
            width: 100%;
            height: 200px; /* Définissez une hauteur fixe pour les images */
            object-fit: cover; /* Assure que l'image couvre bien l'espace alloué sans déformation */
        }
        .card-body {
            /* height: 220px; Hauteur fixe pour le contenu du corps de la carte */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>List of Products</h1>
            <!-- Form de recherche -->
            <form action="/products" method="GET" class="form-inline">
                <input type="text" name="search" class="form-control mr-sm-2" placeholder="Search by name">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </form>
        </div>
        <div class="row">
            <% data.forEach(product => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <% if (product.images && product.images.length > 0) { %>
                            <img src="<%= product.images %>" class="card-img-top" alt="<%= product.libelle %>">
                        <% } else { %>
                            <img src="/images/placeholder.png" class="card-img-top" alt="No image available">
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.libelle %></h5>
                            <p class="card-text"><%= product.description %></p>
                            <p class="card-text"><strong>Price:</strong> $<%= product.prix.toFixed(2) %></p>
                            <p class="card-text"><strong>Category:</strong> <%= product.categorie %></p>
                            <a href="/products/<%= product.id %>" class="btn btn-primary">View Details</a>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                            <div class="btn-group">
                                <a href="/edit-product/<%= product.id %>" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="/delete-product/<%= product.id %>" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
